@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #06bcef;
$green: #48c793;
$white: #eee;

$primary: $green;

html,
body {
    background: url("../assets/images/console2_edit.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .navbar {
        background-color: transparent;
        height: 14rem;
        padding: 3rem;
        position: absolute;
        z-index: 1000;
        width: 100%;

        .navbar-brand {
            filter: invert(1);
            img {
                max-height: 6rem;
            }
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
}

a.navbar-item {
    padding: 0 2rem;
    color: white;
    transition: color 0.25s ease;

    &:hover {
        color: $green;
    }

    &.social {
        padding: 0 1rem;
    }

    i {
        font-size: 1.5rem;
    }
}

#enter {
    display: none;
    #logo {
        filter: invert(1);
        width: 50%;
        margin-bottom: 2rem;
    }

    div {
        i {
            display: block;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        margin-bottom: 2rem;
    }

    #enter-btn {
        color: $green;
        font-size: 3rem;
        font-weight: 900;
    }
}

#home {
    width: 100vw;
    height: 100%;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;

    .columns:first-child {
        margin-top: 15%;
        flex: 3 1 auto;
    }

    .columns:last-child {
        flex: 1 1 auto;
    }

    div {
        align-items: center;
    }
}

.song {
    text-align: start;
}

.song-title {
    font-size: 8rem;
    line-height: 8rem;
    color: $green;
    font-weight: 700;
}

.song-artist {
    font-size: 1.5rem;
    padding-left: 5px;
    font-weight: 700;
}

#sound-wave {
    width: 20%;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    * {
        margin: 0 1rem;
    }
}

.arrow {
    text-align: end;

    i {
        font-weight: 100;
    }
}
