@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #06bcef;
$green: #48c793;
$white: #eee;

$primary: $green;

html,
body {
    background: url("../assets/images/console2_edit.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    max-width: 1400px;
    height: 100vh;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    cursor: default;

    .navbar {
        background-color: transparent;
        height: 25vh;
        padding: 3rem;
        width: 100%;

        #home-link {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            p:first-child {
                font-weight: 900;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            p:last-child {
                font-weight: 200;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
}

h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 100;
}

.navbar-item,
a.navbar-item {
    cursor: pointer;
    padding: 0 2rem;
    color: white;
    transition: color 0.25s ease;

    &.active {
        color: $green;
    }

    &:hover {
        color: $green;
    }

    &.social {
        padding: 0 1rem;
    }

    &:focus {
        color: $white;
    }

    i {
        font-size: 1.5rem;
    }
}

#enter {
    div {
        i {
            display: block;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        margin-bottom: 2rem;
    }

    #enter-btn {
        color: $green;
        font-size: 3rem;
        font-weight: 900;
        cursor: pointer;
    }
}

#home {
    width: 100vw;
    height: 75vh;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;

    .columns:first-child {
        flex: 2 1 auto;
    }

    .columns:last-child {
        flex: 1 1 auto;
    }

    div {
        align-items: center;
    }
}

.song {
    text-align: start;
}

#song-title {
    font-size: 8rem;
    line-height: 8rem;
    color: $green;
    font-weight: 700;
}

#song-artist {
    font-size: 1.5rem;
    padding-left: 5px;
    font-weight: 700;
}

#sound-wave {
    cursor: pointer;
    width: 20%;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    * {
        margin: 0 1rem;
    }
}

.arrow {
    text-align: end;
    cursor: pointer;

    i {
        font-weight: 100;
    }
}

#track-count-display {
    width: 30px;
    height: 50px;
    margin: 0;
    margin-left: 1rem;

    * {
        margin: 0;
    }

    div:first-child {
        text-align: left;
        line-height: 25px;
        font-size: 25px;
        margin-left: -5px;
        margin-top: -4px;
    }

    div:last-child {
        text-align: right;
        line-height: 25px;
        font-size: 25px;
        margin-right: -5px;
        margin-top: 6px;
    }
}

#track-count-display::before {
    content: " ";
    margin-top: -50px;
    position: relative;
    top: 50px;
    display: block;
    height: 100%;
    border-right: solid white 2px;
    transform-origin: 100% 0;
    transform: skew(-32deg);
}

#about {
    width: 100vw;
    height: 75vh;
    margin: 0 5rem;
    display: flex;

    .column:first-child {
        margin-right: 2rem;
    }

    .column:last-child {
        margin-left: 2rem;
    }

    img {
        border-radius: 20px;
        margin-top: 0.75rem;
    }

    .bio {
        text-align: left;

        hr {
            background-color: $green;
            width: 25%;
            height: 5px;
            margin-left: 3px;
            margin-top: 0;
        }
    }
}

#contact {
    width: 100vw;
    height: 75vh;
    margin: 0 5rem;
    display: flex;

    .columns {
        width: 100%;

        .column {
            text-align: left;
        }
    }

    hr {
        background-color: $green;
        width: 25%;
        height: 5px;
        margin-left: 3px;
        margin-top: 0.75rem;
    }

    p {
        margin-bottom: 0.75rem;
    }

    label {
        color: $white;
    }

    .input,
    .textarea {
        background-color: $black;
        color: $white;

        &:focus-visible {
            border-color: $green;
        }
    }

    ::placeholder {
        color: #999;
    }

    #submit {
        background-color: $green;
        color: $black;
    }
}
