@import "_variables";

.enter {
    div {
        .enter-icon {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        margin-bottom: 2rem;
    }

    .enter-btn {
        color: $green;
        font-size: 3rem;
        font-weight: 900;
        cursor: pointer;
    }
}
