@media only screen and (max-width: 768px) {
    header {
        margin: 0 0 75px 0;
        background-color: 5d737e;
        color: fcfffd;
        border-radius: 0;
    }
    header h3 {
        line-height: 125%;
    }
}
