@import "styles/_variables.scss";
@import "~bulma/sass/utilities/mixins";

.audioPlayerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: -10rem;
  align-items: center;

  @include touch {
    margin-top: 0;
    flex-direction: column;
  }

  .trackDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div:first-child {
      color: $primary;
    }

    @include touch {
      align-items: center;
    }

    @include desktop {
      div:first-child {
        font-size: 6rem;
      }

      div:last-child {
        font-size: 1.5rem;
      }
    }
  }

  .playerControl {
    @include touch {
      margin-top: 2rem;
    }
  }
}
