@import "styles/_variables.scss";
@import "~bulma/sass/utilities/mixins";

.navContainer {
  @include touch {
    position: absolute;
    z-index: 1000;
    width: 100%;
  }
}

.navbarMenu {
  .navIcons {
    display: flex;
    flex-direction: row;
  }
}

a.link {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
  }
}
